
body{
    font-family: 'Poppins', sans-serif;
}
/*........... header part style.......... */
.btn-purchase{
    background-color:#E76F51 ;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.header-image img{
    width: 500px;
    height: 447px;
}
.head-background{
    background-color: #264653;
}
.p-colour{
    color:#E0E0E0;
}

/* Feature bike portion's style */
.small-tag-colour{
    color:#E76F51;
} 
.feature-image img{

     width:288px;
    height: 243px; 
   
   
}
 .grayscale-image img{
    filter: grayscale(100%);
    
} 
.client{
    color: #E76F51;
}
.card img{
    width: 149px;
    height: 149px;
}
.fa-star.colourfull{
    color:#E77C40 ;
}
.fa-star.colourless{
    color:#DEDEDE;
   
}
small{
    color:#23A6F0;
}